
.active {
  border-bottom: 5px solid var(--bright-blue);
  color: var(--bright-blue);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  /* background-color: var(--dark-blue-gray); */
  /* position: sticky; */
  /* top: 0; */
  /* border-bottom: 2px solid var(--very-light-gray); */
}

nav .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: var(--dark-charcoal);
  padding: 0.5rem;
  margin: 0 0.5rem;
  /* border-radius: 0.5rem; */
}

nav ul li a:not(.active):hover {
  color: var(--bright-blue);
}

.menu {
  display: none;
  position: absolute;
  top: 2.2rem;
  right: 1.8rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
}

nav .menu span {
  height: 0.3rem;
  width: 100%;
  background-color: var(--black);
  border-radius: 0.25rem;
}

.nav-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-btn {
  width: 6.5em;
  height: 2.5em;
  margin: 0 0.5em;
  background: var(--black);
  color: var(--white);
  border: none;
  border-radius: 0.625em;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.nav-btn:hover {
  color: var(--black);
}

.nav-btn:after {
  content: "";
  background: var(--white);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.nav-btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.theme-checkbox {
  --toggle-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2.5em;
  height: 1.2em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, var(--off-white)),
      color-stop(50%, var(--dark-gray-blue))
    )
    no-repeat;
  background: -o-linear-gradient(left, var(--off-white) 50%, var(--dark-gray-blue) 50%) no-repeat;
  background: linear-gradient(to right, var(--off-white) 50%, var(--dark-gray-blue) 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, var(--off-white)),
      color-stop(50%, var(--dark-gray-blue))
    )
    no-repeat;
  background: -o-linear-gradient(left, var(--off-white) 50%, var(--dark-gray-blue) 50%) no-repeat;
  background: linear-gradient(to right, var(--off-white) 50%, var(--dark-gray-blue) 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 0.5em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

@media (max-width: 850px) {
  nav .menu {
    display: flex;
  }
  nav {
    flex-direction: column;
    align-items: start;
  }
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  nav ul.open {
    display: flex;
  }
  nav ul li {
    width: 100%;
    text-align: center;
  }
  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
  .nav-btns {
    justify-content: center;
    width: 100%;
  }
  .active {
    border: 2px solid var(--bright-blue);
    border-radius: 0.5rem;
  }
}
