
.active {
  border-bottom: 5px solid var(--btn-primary-color);
  color: var(--btn-primary-color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  /* background-color: #0f1728; */
  /* position: sticky; */
  /* top: 0; */
  /* border-bottom: 2px solid #E8E8EA; */
  margin: 0 auto;
  padding-top: 1rem;
}

nav .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--heading-color);
}


nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: var(--paragraph-color);
  padding: 0.5rem;
  margin: 0 0.5rem;
  /* border-radius: 0.5rem; */
}

nav ul li a:not(.active):hover {
  color: var(--btn-primary-color);
}

.menu {
  display: none;
  position: absolute;
  top: 2.2rem;
  right: 1.8rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
}

nav .menu span {
  height: 0.3rem;
  width: 100%;
  background-color: var(--heading-color);
  border-radius: 0.25rem;
}

.user{
  color: var(--paragraph-color);
}

.nav-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-btn {
  width: 6.5em;
  height: 2.5em;
  margin: 0 0.5em;
  background: var(--big-btn-color);
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.nav-btn:hover {
  color: var(--heading-color);
}

.nav-btn:after {
  content: "";
  background: var(--heading-bg-color);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.nav-btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 850px) {
  nav .menu {
    display: flex;
  }
  nav {
    flex-direction: column;
    align-items: start;
  }
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  nav ul.open {
    display: flex;
  }
  nav ul li {
    width: 100%;
    text-align: center;
  }
  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
  .nav-btns {
    justify-content: center;
    width: 100%;
  }
  .active {
    border: 2px solid var(--btn-primary-color);
    border-radius: 0.5rem;
  }
}