
.footer {
  width: 100%;
  background-color: var(--extra-light-gray);
  padding: 20px 0;
  color: var(--dark-gray-black);
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem 20px;
}

.footer-section {
  flex: 1;
  margin: 1rem 0;
  min-width: 200px;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  font-size: 0.9rem;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: var(--dark-gray-black);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: var(--bright-blue);
}

.newsletter {
  width: 100%;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-section form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.5rem;
}

.footer-section form input,
.footer-section form button {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--light-silver);
  border-radius: 5px;
  outline: none;
}

.footer-section form button {
  background-color: var(--bright-blue);
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-section form button:hover {
  background-color: var(--strong-blue);
}

.footer-bottom {
  /* background-color: #e0e0e0; */
  border-top: 2px solid var(--very-light-gray);
  padding: 10px 0;
  text-align: center;
  width: 80%;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer-bottom-links a {
  margin: 0 10px;
  color: var(--dark-gray-black);
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.footer-bottom-links a:hover {
  color: var(--bright-blue);
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: start;
  }
  .footer-section {
    margin: 10px 0;
  }
}
