@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap");

:root {
  --bg-color:#FFFFFF;
  --heading-color:#000;
  --heading-bg-color:#FFFFFF;
  --paragraph-color:#3A3C4B;
  --btn-primary-color:#4B6AFA;
  --btn-bg-color:#F7F6FF;
  --border-line-color:#E9E9EA;
  --footer-color:#F7F7F7;
  --news-letter:#FFFFFF;
  --big-btn-color:#151717;
  --big-btn-hover:#252727;
}

[data-theme="dark"] {
  --bg-color:#191A2B;
  --heading-color:#FFFFFF;
  --heading-bg-color:#000;
  --paragraph-color:#97999E;
  --border-line-color:#252435;
  --btn-bg-color:#1A1F35;
  --footer-color:#141725;
  --news-letter:#252435;
  --big-btn-color:#4B6AFA;
  --big-btn-hover:#2b50f5;
}

.App{
  background-color: var(--bg-color);
  transition: background-color .25s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  overflow: visible;
}
